
body
/*  google font use */
{
   @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Poppins:wght@500&display=swap');
}

.header-main{
   display: flex;

}
header{
    background-color: black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
   }
header:hover{
    animation-name: header-ani;
    animation-duration: 10s;
    }
/* annimation off Header */

@keyframes header-ani{
   from{
      background-color: black;
      margin: top 20px; 
   }
   to{
      background-color: brown;
   border-radius: 50px;
}
}
/* end off animation off main button */

    .header-tittle{
        width: 50%;
    }

    .main-tittle{
        color: wheat;
        margin-left: 50px;
        font-size: 90px;

    }

    .main-discription{
        color: wheat;
        margin-left: 20px;
    }

    .header-img{
        width: 50%;
    }

    .header-img img{
        width: 600px;
     }
     .main-btn{
        font-size: 30px;
        color: wheat;
        margin-left: 100px;
        background-color: rgb(230, 11, 48);
        border-radius: 10px;
        width: 200px;}

        button:hover{
        animation-name: btn-ani;
        animation-duration: 10s;
         }

         /* annimation off Main Button */

     @keyframes btn-ani{
      form{
         background-color: rgb(230, 11, 48);
         font-size: 30px;
      }
      to{
         background-color: black;
         cursor: progress;
         font-size: 10px;
      }
     }

     /* end off animation off main button */

     /* main part style */
     main{
        margin-top: 100px;
     }

     .main-blog{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      column-gap: 10px;
      width: 400px;
      margin-left: 80px;
      row-gap: 20px;
   
     }
.sub-blog{
   box-shadow: 10px wheat;
   border: 1px solid grey;
   border-radius: 10px;
}
     
     .blog-img img{
        width: 250px;
     }
     .blog-btn{
        margin-left: 50px;
     }
     .blog-live{
        font-size: 10px;
     }
     .message{
        display: flex;
     }
     .fa-clock{
        color: rgb(231, 22, 22);
     }
     .fa-comment-dots{
        color: gray;
        margin-left: 20px;
     }



     /* side bar desig */

     .side-bar{
      width: 250px;
      height: 200px;
      margin-left: 5px;
      background-color: black;
      border-radius: 10px;
      text-align: center;
     }

   .bar{
      display: flex;
   }

    .goal{
      text-align: center;
   }
   footer{
   width: 100%;
   height: 200px;
   margin-top: 50px;
   padding: 2px;
   background-color:black;
   color: whitesmoke;
   }
   .footer-part{
      display: flex;
      margin-left: 250px;
      margin-right: 250px;
      justify-content: space-between;
   }

                     /* font asowme icone style */

   .fa-facebook-square{
      font-size: 25px;
      margin-left: 200px;
      background-color: gray;
   }
   .fa-instagram{
      font-size: 25px;
      margin-left: 300px;
      background-color: orangered;
   }
   .fa-linkedin{
      font-size: 25px;
      margin-left: 300px;
      background-color: blueviolet;

      }   /* end font asowme icone style */


   
   /* upcoming match page style */

   .main-match{
      display: flex;
   }


.main-baner{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 10px;
   width: 400px;
   margin-left: 100px;
   row-gap: 20px;
}

   .baner1{
      border: 2px solid gray;
      width: 218px;
      height: 200px;
      border-radius: 10px;
   }

   .sub-baner{
      display: flex;
      margin-top: 50px;
   }
   .germany-flg img .france-flg{
      width:100px;
   }
   .match{
      text-align: center;
      font-size: 18px;
   }
                      /* upcoming match page style end */

   /* NAV BAR Style */

   nav li{
      list-style: none;
      margin:10px;
      font-size: 25px;
      padding: 10px;
      border: 2px solid rgb(179, 34, 82);
      background-color: gray;
   }
   nav ul{
      display: flex;
      margin-left: 10px;

   }
   nav li a{
      text-decoration: none;
}

nav li:hover{
   background-color: red;
}

 /* NAV BAR Style end */


 

   /* media Quary  style part  */

/* For Mobile Screen  */

@media screen and (max-width: 688px)
{
  
 .header-img,.header-main,.header-tittle,.main-baner,.main-blog,.main-btn,.main-discription,.main-match,.main-tittle,.baner1,.bar,.side-bar,.sub-baner,.main-baner,.footer-part,.goal,.footer,.footer-ele{
   width: 100%; 
   height: 100%;
   justify-content: left;

   background-color: royalblue;
   grid-template-columns: repeat(1,1fr);
   flex-direction: column;
     }
}
 
 /*  tablet devices */

 @media only screen and (min-width: 688px) and (max-width:992px){

   
 .header-img,.header-main,.header-tittle,.main-baner,.main-blog,.main-btn,.main-discription,.main-match,.main-tittle,.bar,.baner1,.side-bar,.sub-baner,.footer-ele,.goal{
   width: 100%; 
   height: 100%;
   margin-left: 70px;
   margin-right: 0px;
   background-color: navy;
   grid-template-columns: repeat(2,1fr);
   flex-direction: column;
 }
 }
 /* media Quary  style end  */